<h1>Submitted Information</h1>
<h3>Name: <%= info.name%></h3>
<h3>Dojo Location: <%= info.location%></h3>
<h3>Favorite Language: <%= info.language%></h3>
<h3>Comment: <%= info.comment%></h3>

<br>
<a href="/">home</a>